# ********************************************************
TIMESPEC TS00=FROM:FFS:TO:FFS = 30 ns;
#TIMESPEC TS01=FROM:PADS:TO:FFS = 6 ns;
TIMESPEC TS02=FROM:FFS:TO:PADS = 11 ns;
NET "pci_clk" PERIOD = 66 Mhz;

NET "pci_clk_pad"            LOC  = "AL4";
NET "pci_bus_ad_b0_0_pad"    LOC  = "AK18";
NET "pci_bus_ad_b0_1_pad"    LOC  = "AJ20";
NET "pci_bus_ad_b0_2_pad"    LOC  = "AN19";
NET "pci_bus_ad_b0_3_pad"    LOC  = "AL19";
NET "pci_bus_ad_b0_4_pad"    LOC  = "AK19";
NET "pci_bus_ad_b0_5_pad"    LOC  = "AJ19";
NET "pci_bus_ad_b0_6_pad"    LOC  = "AM18";
NET "pci_bus_ad_b0_7_pad"    LOC  = "AL18";
NET "pci_bus_ad_b1_0_pad"    LOC  = "AM17";
NET "pci_bus_ad_b1_1_pad"    LOC  = "AH29";
NET "pci_bus_ad_b1_2_pad"    LOC  = "AK2";
NET "pci_bus_ad_b1_3_pad"    LOC  = "AM16";
NET "pci_bus_ad_b1_4_pad"    LOC  = "AK16";
NET "pci_bus_ad_b1_5_pad"    LOC  = "AN15";
NET "pci_bus_ad_b1_6_pad"    LOC  = "AL15";
NET "pci_bus_ad_b1_7_pad"    LOC  = "AK15";
NET "pci_bus_ad_b2_0_pad"    LOC  = "AJ11";
NET "pci_bus_ad_b2_1_pad"    LOC  = "AM10";
NET "pci_bus_ad_b2_2_pad"    LOC  = "AL10";
NET "pci_bus_ad_b2_3_pad"    LOC  = "AK10";
NET "pci_bus_ad_b2_4_pad"    LOC  = "AN9";
NET "pci_bus_ad_b2_5_pad"    LOC  = "AJ9";
NET "pci_bus_ad_b2_6_pad"    LOC  = "AK9";
NET "pci_bus_ad_b2_7_pad"    LOC  = "AJ8";
NET "pci_bus_ad_b3_0_pad"    LOC  = "AK7";
NET "pci_bus_ad_b3_1_pad"    LOC  = "AJ7";
NET "pci_bus_ad_b3_2_pad"    LOC  = "AN6";
NET "pci_bus_ad_b3_3_pad"    LOC  = "AM6";
NET "pci_bus_ad_b3_4_pad"    LOC  = "AL6";
NET "pci_bus_ad_b3_5_pad"    LOC  = "AK6";
NET "pci_bus_ad_b3_6_pad"    LOC  = "AJ6";
NET "pci_bus_ad_b3_7_pad"    LOC  = "AM5";
NET "pci_bus_ad_b4_0_pad"    LOC  = "AH33";
NET "pci_bus_ad_b4_1_pad"    LOC  = "AH32";
NET "pci_bus_ad_b4_2_pad"    LOC  = "AL33";
NET "pci_bus_ad_b4_3_pad"    LOC  = "AJ32";
NET "pci_bus_ad_b4_4_pad"    LOC  = "AK32";
NET "pci_bus_ad_b4_5_pad"    LOC  = "AJ31";
NET "pci_bus_ad_b4_6_pad"    LOC  = "AK31";
NET "pci_bus_ad_b4_7_pad"    LOC  = "AM31";
NET "pci_bus_ad_b5_0_pad"    LOC  = "AN31";
NET "pci_bus_ad_b5_1_pad"    LOC  = "AJ30";
NET "pci_bus_ad_b5_2_pad"    LOC  = "AL30";
NET "pci_bus_ad_b5_3_pad"    LOC  = "AM30";
NET "pci_bus_ad_b5_4_pad"    LOC  = "AL29";
NET "pci_bus_ad_b5_5_pad"    LOC  = "AM29";
NET "pci_bus_ad_b5_6_pad"    LOC  = "AN29";
NET "pci_bus_ad_b5_7_pad"    LOC  = "AN28";
NET "pci_bus_ad_b6_0_pad"    LOC  = "AL28";
NET "pci_bus_ad_b6_1_pad"    LOC  = "AK28";
NET "pci_bus_ad_b6_2_pad"    LOC  = "AL26";
NET "pci_bus_ad_b6_3_pad"    LOC  = "AK27";
NET "pci_bus_ad_b6_4_pad"    LOC  = "AN26";
NET "pci_bus_ad_b6_5_pad"    LOC  = "AK26";
NET "pci_bus_ad_b6_6_pad"    LOC  = "AJ26";
NET "pci_bus_ad_b6_7_pad"    LOC  = "AN23";
NET "pci_bus_ad_b7_0_pad"    LOC  = "AL25";
NET "pci_bus_ad_b7_1_pad"    LOC  = "AJ25";
NET "pci_bus_ad_b7_2_pad"    LOC  = "AM24";
NET "pci_bus_ad_b7_3_pad"    LOC  = "AL24";
NET "pci_bus_ad_b7_4_pad"    LOC  = "AL23";
NET "pci_bus_ad_b7_5_pad"    LOC  = "AK23";
NET "pci_bus_ad_b7_6_pad"    LOC  = "AJ23";
NET "pci_bus_ad_b7_7_pad"    LOC  = "AM22";
NET "pci_bus_cbe__0_pad"     LOC  = "AN17";
NET "pci_bus_cbe__1_pad"     LOC  = "AJ15";
NET "pci_bus_cbe__2_pad"     LOC  = "AK13";
NET "pci_bus_cbe__3_pad"     LOC  = "AL7";
NET "pci_bus_cbe__4_pad"     LOC  = "AJ22";
NET "pci_bus_cbe__5_pad"     LOC  = "AN21";
NET "pci_bus_cbe__6_pad"     LOC  = "AL21";
NET "pci_bus_cbe__7_pad"     LOC  = "AK21";
NET "pci_bus_ack64__pad"      LOC  = "AL20";
NET "pci_bus_devsel__pad"     LOC  = "AK12";
NET "pci_bus_frame__pad"      LOC  = "AL11";
NET "pci_bus_gnt__pad"        LOC  = "AK5";
NET "pci_bus_idsel_pad"       LOC  = "AN7";
NET "pci_bus_inta__pad"       LOC  = "AM4";
NET "pci_bus_intb__pad"       LOC  = "AN3";
NET "pci_bus_intc__pad"       LOC  = "AK3";
NET "pci_bus_intd__pad"       LOC  = "AJ10";
NET "pci_bus_irdy__pad"       LOC  = "AN11";
NET "pci_bus_par64_pad"       LOC  = "AK22";
NET "pci_bus_par_pad"         LOC  = "AM14";
NET "pci_bus_perr__pad"       LOC  = "AN13";
NET "pci_bus_req64__pad"      LOC  = "AM20";
NET "pci_bus_req__pad"        LOC  = "AL5";
NET "pci_bus_rst__pad"        LOC  = "AJ4";
NET "pci_bus_serr__pad"       LOC  = "AL16";
NET "pci_bus_stop__pad"       LOC  = "AL13";
NET "pci_bus_trdy__pad"       LOC  = "AJ12";

#NET "lock__pad"       LOC  = "AM13";
#NET "sbo_l_pad"       LOC  = "AK14";
#NET "sdone_pad"       LOC  = "AJ14";
#NET "reset_n_pad"     LOC  = "A2";
#NET "f_oe_l_pad"      LOC  = "AJ18";
#NET "f_we_l_pad"      LOC  = "F1";
#NET "CCLK_pad"        LOC  = "C4";
#NET "CLKA2_pad"       LOC  = "AL17";
#NET "CLKB2_pad"       LOC  = "D17";
#NET "CLKCPLD2_pad"    LOC  = "A17";
#NET "CLK_pad"         LOC  = "AL4";   #JP70.1
#NET "CONTDI_pad"      LOC  = "D5";
#NET "M0_pad"          LOC  = "AJ29";
#NET "M1_pad"          LOC  = "AK30";
#NET "M2_pad"          LOC  = "AN32";
#NET "N41425_pad"      LOC  = "AJ5";    # PDONE
#NET "PDIN_pad"        LOC  = "E4";
#NET "PDOUT_pad"       LOC  = "D4";
#NET "PINIT-_pad"      LOC  = "AH5";
#NET "PPROG-_pad"      LOC  = "AM1";
#NET "REPROG-_pad"     LOC  = "AJ3";
#NET "TCK_pad"         LOC  = "E29";
#NET "TDOF_pad"        LOC  = "E6";
#NET "TMS_pad"         LOC  = "B33";


#NET "HE0_pad"         LOC  = "A31";   #JP20.4
#NET "HE1_pad"         LOC  = "A25";   #JP22.7
#NET "HE2_pad"         LOC  = "B30";   #JP20.6
#NET "HE3_pad"         LOC  = "B29";   #JP22.10
#NET "HE5_pad"         LOC  = "B25";   #JP22.9
#NET "HE6_pad"         LOC  = "B24";   #JP20.15
#NET "HE7_pad"         LOC  = "C33";   #JP20.1
#NET "HE8_pad"         LOC  = "C11";   #JP21.3
#NET "HE9_pad"         LOC  = "C29";   #JP20.8
#NET "HE10_pad"        LOC  = "C28";   #JP31.5
#NET "HE11_pad"        LOC  = "C27";   #JP22.6
#NET "HE14_pad"        LOC  = "C23";   #JP20.16
#NET "HE16_pad"        LOC  = "D31";   #JP29.15
#NET "HE18_pad"        LOC  = "D29";   #JP30.17
#NET "HE19_pad"        LOC  = "D28";   #JP42.3
#NET "HE20_pad"        LOC  = "D27";   #JP42.4
#NET "HE21_pad"        LOC  = "D26";   #JP29.7
#NET "HE22_pad"        LOC  = "C14";
#NET "HE23_pad"        LOC  = "D23";   #JP20.18
#NET "HE24_pad"        LOC  = "E31";   #JP29.11
#NET "HE25_pad"        LOC  = "E30";   #JP29.17
#NET "HE26_pad"        LOC  = "E28";
#NET "HE27_pad"        LOC  = "E27";   #JP20.14
#NET "HE28_pad"        LOC  = "E26";   #JP20.10
#NET "HE29_pad"        LOC  = "E25";   #JP20.5
#NET "HE30_pad"        LOC  = "E23";   #JP20.3
#NET "HE32_pad"        LOC  = "AJ1";   #JP21.4
#NET "HE33_pad"        LOC  = "AJ2";   #JP34.1
#NET "HE34_pad"        LOC  = "AL1";   #JP34.20
#
#NET "HEX0_pad"        LOC  = "B26";   #JP20.13
#NET "HEX1_pad"        LOC  = "E24";   #JP29.9
#NET "HEX2_pad"        LOC  = "H32";   #JP29.13
#NET "HEX3_pad"        LOC  = "AE31";  #JP33.10
#NET "HEX4_pad"        LOC  = "AK24";  #JP34.15
#NET "HEX5_pad"        LOC  = "AM26";  #JP34.16
#NET "HEX6_pad"        LOC  = "A28";   #JP30.14
#NET "HEX9_pad"        LOC  = "C26";   #JP22.5
#NET "HEX10_pad"       LOC  = "D25";   #JP29.5
#NET "HEX11_pad"       LOC  = "AJ24";  #JP42.6
#NET "HEX14_pad"       LOC  = "AM27";  #JP41.3
#NET "HEX15_pad"       LOC  = "AM23";  #JP41.17
#NET "HEX23_pad"       LOC  = "AL9";
#NET "HEX24_pad"       LOC  = "AL8";
#NET "HEX25_pad"       LOC  = "AM12";
#NET "HEX26_pad"       LOC  = "AM9";
#NET "HEX27_pad"       LOC  = "AM8";
#
#NET "MB0_pad"         LOC  = "AH31";  #JP29.3
#NET "MB1_pad"         LOC  = "AH30";
#NET "MB2_pad"         LOC  = "AJ16";
#NET "MB3_pad"         LOC  = "AH4";
#NET "MB4_pad"         LOC  = "AH3";   #JP29.12
#NET "MB5_pad"         LOC  = "AH1";   #JP29.4
#NET "MB6_pad"         LOC  = "AG33";
#NET "MB7_pad"         LOC  = "D22";
#NET "MB8_pad"         LOC  = "AG30";
#NET "MB9_pad"         LOC  = "AG29";
#NET "MB10_pad"        LOC  = "AG5";
#NET "MB11_pad"        LOC  = "AG4";
#NET "MB12_pad"        LOC  = "AK25";
#NET "MB13_pad"        LOC  = "AF30";
#NET "MB14_pad"        LOC  = "AF29";
#NET "MB15_pad"        LOC  = "AF5";
#NET "MB16_pad"        LOC  = "AF4";
#NET "MB17_pad"        LOC  = "AF3";
#NET "MB18_pad"        LOC  = "AE33";
#NET "MB19_pad"        LOC  = "AE32";
#NET "MB20_pad"        LOC  = "AE29";
#NET "MB21_pad"        LOC  = "AE5";
#NET "MB22_pad"        LOC  = "AE3";   #JP32.17
#NET "MB23_pad"        LOC  = "AE1";   #JP32.19
#NET "MB24_pad"        LOC  = "D30";   #JP32.14
#NET "MB25_pad"        LOC  = "AD31";  #JP32.18
#NET "MB26_pad"        LOC  = "AD3";   #JP32.20
#NET "MB27_pad"        LOC  = "AJ27";
#NET "MB28_pad"        LOC  = "AC31";
#NET "MB29_pad"        LOC  = "AC30";
#NET "MB30_pad"        LOC  = "AC29";
#NET "MB31_pad"        LOC  = "AC5";
#NET "MB32_pad"        LOC  = "AC4";
#NET "MB33_pad"        LOC  = "AC3";
#NET "MB34_pad"        LOC  = "D8";
#NET "MB35_pad"        LOC  = "AB31";
#NET "MB36_pad"        LOC  = "AB29";  #JP5.1
#NET "MB37_pad"        LOC  = "AB5";
#NET "MB38_pad"        LOC  = "AB3";
#NET "MB39_pad"        LOC  = "AL12";
#NET "MB40_pad"        LOC  = "AA32";
#NET "MB41_pad"        LOC  = "AA31";  #JP12.19
#NET "MB42_pad"        LOC  = "AA30";  #JP33.7
#NET "MB43_pad"        LOC  = "AA29";  #JP12.7
#NET "MB44_pad"        LOC  = "AA5";   #JP34.8
#NET "MB45_pad"        LOC  = "AA4";   #JP34.5
#NET "MB46_pad"        LOC  = "AA3";   #JP32.9
#NET "MB47_pad"        LOC  = "Y32";   #JP42.11
#NET "MB48_pad"        LOC  = "D32";   #JP33.4
#NET "MB49_pad"        LOC  = "Y30";   #JP42.9
#NET "MB50_pad"        LOC  = "Y5";    #JP32.11
#NET "MB51_pad"        LOC  = "Y3";    #JP13.14
#NET "MB52_pad"        LOC  = "C30";   #JP32.10
#NET "MB53_pad"        LOC  = "W33";   #JP22.19
#NET "MB54_pad"        LOC  = "W31";   #JP42.12
#NET "MB55_pad"        LOC  = "W30";   #JP14.6
#NET "MB56_pad"        LOC  = "W29";   #JP42.10
#NET "MB57_pad"        LOC  = "W5";    #JP5.13
#NET "MB58_pad"        LOC  = "W4";    #JP13.12
#NET "MB59_pad"        LOC  = "W3";    #JP13.18
#NET "MB60_pad"        LOC  = "W1";    #JP32.5
#NET "MB61_pad"        LOC  = "V31";   #JP13.4
#NET "MB62_pad"        LOC  = "V30";   #JP5.12
#NET "MB63_pad"        LOC  = "V29";   #JP5.18
#NET "MB64_pad"        LOC  = "V5";    #JP32.7
#NET "MB65_pad"        LOC  = "V4";    #JP34.6
#NET "MB66_pad"        LOC  = "V3";    #JP32.8
#NET "MB67_pad"        LOC  = "V2";    #JP12.12
#NET "MB68_pad"        LOC  = "U32";   #JP33.1
#NET "MB69_pad"        LOC  = "U31";   #JP13.9
#NET "MB70_pad"        LOC  = "D20";   #JP12.4
#NET "MB71_pad"        LOC  = "U29";   #JP42.14
#NET "MB72_pad"        LOC  = "C25";   #JP5.14
#NET "MB73_pad"        LOC  = "U4";    #JP5.15
#NET "MB74_pad"        LOC  = "U3";    #JP32.6
#NET "MB75_pad"        LOC  = "T31";   #JP13.7
#NET "MB76_pad"        LOC  = "T29";   #JP13.10
#NET "MB77_pad"        LOC  = "T4";    #JP5.17
#NET "MB78_pad"        LOC  = "T2";    #JP5.16
#NET "MB79_pad"        LOC  = "R33";   #JP13.16
#NET "MB80_pad"        LOC  = "R31";   #JP42.15
#NET "MB81_pad"        LOC  = "R30";   #JP29.19
#NET "MB82_pad"        LOC  = "R29";   #JP13.5
#NET "MB83_pad"        LOC  = "R5";    #JP31.11
#NET "MB84_pad"        LOC  = "R4";    #JP32.4
#NET "MB85_pad"        LOC  = "R3";    #JP28.19
#NET "MB86_pad"        LOC  = "R1";    #JP32.1
#NET "MB87_pad"        LOC  = "P32";   #JP29.20
#NET "MB88_pad"        LOC  = "P31";   #JP22.14
#NET "MB89_pad"        LOC  = "P30";   #JP34.19
#NET "MB90_pad"        LOC  = "P29";   #JP6.19
#NET "MB91_pad"        LOC  = "P5";    #JP34.3
#NET "MB92_pad"        LOC  = "P4";    #JP13.1
#NET "MB93_pad"        LOC  = "P3";    #JP7.20
#NET "MB94_pad"        LOC  = "P2";    #JP5.19
#NET "MB96_pad"        LOC  = "A27";   #JP42.16
#NET "MB97_pad"        LOC  = "N5";    #JP28.17
#NET "MB98_pad"        LOC  = "N3";    #JP31.4
#NET "MB99_pad"        LOC  = "N2";    #JP31.7
#NET "MB101_pad"       LOC  = "M32";   #JP42.18
#NET "MB102_pad"       LOC  = "M31";   #JP35.11
#NET "MB103_pad"       LOC  = "M29";   #JP35.7
#NET "MB104_pad"       LOC  = "M4";    #JP22.13
#NET "MB105_pad"       LOC  = "E13";   #JP28.18
#NET "MB106_pad"       LOC  = "L33";   #JP13.15
#NET "MB107_pad"       LOC  = "L32";   #JP42.19
#NET "MB108_pad"       LOC  = "L30";   #JP42.17
#NET "MB109_pad"       LOC  = "L29";   #JP8.17
#NET "MB110_pad"       LOC  = "L5";    #JP12.9
#NET "MB111_pad"       LOC  = "L4";    #JP30.16
#NET "MB112_pad"       LOC  = "L1";    #JP28.15
#NET "MB113_pad"       LOC  = "D24";   #JP8.13
#NET "MB114_pad"       LOC  = "K31";   #JP8.15
#NET "MB115_pad"       LOC  = "K30";   #JP35.14
#NET "MB116_pad"       LOC  = "K4";    #JP28.16
#NET "MB117_pad"       LOC  = "K3";    #JP31.1
#NET "MB118_pad"       LOC  = "K2";    #JP22.16
#NET "MB119_pad"       LOC  = "J33";
#NET "MB120_pad"       LOC  = "J30";   #JP35.10
#NET "MB121_pad"       LOC  = "J29";   #JP29.14
#NET "MB122_pad"       LOC  = "J5";    #JP13.8
#NET "MB123_pad"       LOC  = "J3";    #JP21.6
#NET "MB124_pad"       LOC  = "J2";    #JP21.9
#NET "MB126_pad"       LOC  = "H33";   #JP8.11
#NET "MB127_pad"       LOC  = "A23";   #JP35.20
#NET "MB128_pad"       LOC  = "H29";   #JP42.20
#NET "MB129_pad"       LOC  = "H4";    #JP28.14
#NET "MB130_pad"       LOC  = "G32";   #JP35.17
#NET "MB131_pad"       LOC  = "G31";   #JP35.13
#NET "MB132_pad"       LOC  = "G30";   #JP13.17
#NET "MB133_pad"       LOC  = "G29";   #JP35.16
#NET "MB134_pad"       LOC  = "G5";    #JP13.19
#NET "MB135_pad"       LOC  = "G4";    #JP13.6
#NET "MB136_pad"       LOC  = "G3";    #JP22.18
#NET "MB137_pad"       LOC  = "G1";    #JP31.8
#NET "MB138_pad"       LOC  = "F33";   #JP35.15
#NET "MB139_pad"       LOC  = "F31";   #JP12.3
#NET "MB140_pad"       LOC  = "F30";   #JP31.10
#NET "MB141_pad"       LOC  = "F29";   #JP35.18
#NET "MB142_pad"       LOC  = "F5";    #JP12.11
#NET "MB143_pad"       LOC  = "F4";    #JP34.4
#NET "MB144_pad"       LOC  = "F3";    #JP28.11
#NET "MB145_pad"       LOC  = "E22";   #JP14.20
#
#NET "MBX0_pad"        LOC  = "AF1";   #JP32.15
#NET "MBX1_pad"        LOC  = "H2";    #JP21.11
#NET "MBX2_pad"        LOC  = "J31";   #JP14.19
#NET "MBX3_pad"        LOC  = "K5";    #JP42.7
#NET "MBX4_pad"        LOC  = "T32";   #JP14.1
#NET "MBX5_pad"        LOC  = "T30";   #JP42.13
#NET "MBX6_pad"        LOC  = "T5";    #JP22.12
#NET "MBX7_pad"        LOC  = "T3";    #JP5.20
#NET "MBX8_pad"        LOC  = "U2";    #JP12.1
#NET "MBX9_pad"        LOC  = "U1";    #JP32.3
#NET "MBX10_pad"       LOC  = "U33";   #JP13.3
#NET "MBX11_pad"       LOC  = "V32";   #JP33.3
#NET "MBX12_pad"       LOC  = "AD30";  #JP5.11
#NET "MBX13_pad"       LOC  = "AD4";   #JP5.9
#NET "MBX15_pad"       LOC  = "E21";   #JP35.9
#NET "MBX16_pad"       LOC  = "H31";   #JP12.8
#NET "MBX17_pad"       LOC  = "H5";    #JP22.17
#NET "MBX18_pad"       LOC  = "H3";    #JP13.20
#NET "MBX19_pad"       LOC  = "J4";    #JP14.14
#NET "MBX20_pad"       LOC  = "K29";   #JP8.18
#NET "MBX21_pad"       LOC  = "L31";   #JP29.16
#NET "MBX22_pad"       LOC  = "L3";    #JP14.11
#NET "MBX23_pad"       LOC  = "M30";   #JP8.1
#NET "MBX24_pad"       LOC  = "M5";    #JP30.20
#NET "MBX25_pad"       LOC  = "M2";    #JP30.18
#NET "MBX26_pad"       LOC  = "N31";   #JP29.18
#NET "MBX27_pad"       LOC  = "N30";   #JP12.6
#NET "MBX28_pad"       LOC  = "N4";    #JP14.8
#NET "MBX29_pad"       LOC  = "Y29";   #JP1.6
#NET "MBX30_pad"       LOC  = "Y4";    #JP32.12
#NET "MBX31_pad"       LOC  = "AA33";  #JP33.5
#NET "MBX32_pad"       LOC  = "AA1";   #JP14.16
#NET "MBX33_pad"       LOC  = "AB30";  #JP33.6
#NET "MBX34_pad"       LOC  = "AB4";   #JP32.13
#NET "MBX35_pad"       LOC  = "AC33";  #JP5.8
#NET "MBX36_pad"       LOC  = "AC1";   #JP34.10
#NET "MBX37_pad"       LOC  = "AD29";  #JP1.5
#NET "MBX38_pad"       LOC  = "AD5";   #JP34.9
#NET "MBX39_pad"       LOC  = "AE30";  #JP33.8
#NET "MBX40_pad"       LOC  = "AE4";   #JP34.12
#NET "MBX41_pad"       LOC  = "AF32";  #JP5.10
#NET "MBX42_pad"       LOC  = "AF31";  #JP31.13
#NET "MBX43_pad"       LOC  = "AF2";   #JP34.11
#NET "MBX44_pad"       LOC  = "AG2";   #JP34.14
#NET "MBX45_pad"       LOC  = "AJ21";  #JP5.6
#NET "MBX46_pad"       LOC  = "E33";   #JP29.10
#NET "MBX47_pad"       LOC  = "E32";   #JP31.9
#
#NET "VA0_pad"         LOC  = "A3";    #JP28.1
#NET "VA1_pad"         LOC  = "A5";    #JP28.5
#NET "VA2_pad"         LOC  = "A6";    #JP19.1
#NET "VA3_pad"         LOC  = "A9";    #JP19.10
#NET "VA4_pad"         LOC  = "A11";   #JP29.1
#NET "VA5_pad"         LOC  = "A13";   #JP19.13
#NET "VA6_pad"         LOC  = "A15";   #JP19.15
#NET "VA7_pad"         LOC  = "A4";    #JP19.17
#NET "VA9_pad"         LOC  = "B3";    #JP28.7
#NET "VA10_pad"        LOC  = "B4";    #JP28.6
#NET "VA11_pad"        LOC  = "B5";    #JP28.8
#NET "VA12_pad"        LOC  = "B7";    #JP19.4
#NET "VA13_pad"        LOC  = "B10";   #JP19.9
#NET "VA14_pad"        LOC  = "B11";   #JP19.12
#NET "VA16_pad"        LOC  = "B17";   #JP29.6
#NET "VA18_pad"        LOC  = "B20";   #JP12.20
#NET "VA19_pad"        LOC  = "B21";   #JP12.18
#NET "VA20_pad"        LOC  = "B22";   #JP12.16
#NET "VA21_pad"        LOC  = "C1";    #JP28.9
#NET "VA22_pad"        LOC  = "C5";    #JP28.10
#NET "VA23_pad"        LOC  = "C6";    #JP28.12
#NET "VA24_pad"        LOC  = "C7";
#NET "VA25_pad"        LOC  = "C10";
#NET "VA27_pad"        LOC  = "C13";
#NET "VA29_pad"        LOC  = "C15";
#NET "VA30_pad"        LOC  = "C16";
#NET "VA31_pad"        LOC  = "C17";
#NET "VA32_pad"        LOC  = "C18";
#NET "VA33_pad"        LOC  = "C19";
#NET "VA34_pad"        LOC  = "C20";   #JP1.8
#NET "VA35_pad"        LOC  = "C21";   #JP1.17
#NET "VA36_pad"        LOC  = "D2";
#NET "VA37_pad"        LOC  = "D3";
#NET "VA39_pad"        LOC  = "D6";    #JP28.13
#NET "VA40_pad"        LOC  = "D7";    #JP28.20
#NET "VA42_pad"        LOC  = "D9";
#NET "VA43_pad"        LOC  = "D11";
#NET "VA44_pad"        LOC  = "D12";   #JP19.14
#NET "VA45_pad"        LOC  = "D14";   #JP19.11
#NET "VA46_pad"        LOC  = "D15";   #JP19.19
#NET "VA48_pad"        LOC  = "D19";
#NET "VA50_pad"        LOC  = "D21";
#NET "VA51_pad"        LOC  = "E3";
#NET "VA52_pad"        LOC  = "E7";
#NET "VA53_pad"        LOC  = "E8";
#NET "VA55_pad"        LOC  = "E11";
#NET "VA57_pad"        LOC  = "E14";
#NET "VA58_pad"        LOC  = "E15";
#NET "VA59_pad"        LOC  = "E16";
#NET "VA60_pad"        LOC  = "E17";
#NET "VA61_pad"        LOC  = "E18";
#NET "VA62_pad"        LOC  = "E19";
#NET "VA63_pad"        LOC  = "E20";
#
#NET "VAX0_pad"        LOC  = "A19";   #JP19.20
#NET "VAX1_pad"        LOC  = "B16";   #JP19.16
#NET "VAX2_pad"        LOC  = "C9";    #JP19.6
#NET "VAX3_pad"        LOC  = "D10";   #JP19.7
#NET "VAX4_pad"        LOC  = "D16";   #JP19.18
#NET "VAX5_pad"        LOC  = "D18";   #JP12.14
#NET "VAX6_pad"        LOC  = "A8";    #JP19.8
#NET "VAX7_pad"        LOC  = "B8";    #JP19.3
#NET "VAX9_pad"        LOC  = "C8";    #JP19.5
#NET "VAX10_pad"       LOC  = "C12";   #JP29.8
#NET "VAX12_pad"       LOC  = "D13";
#NET "VAX14_pad"       LOC  = "E2";
#NET "VAX15_pad"       LOC  = "E10";
